<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= font.include %>">
    <title>*|MC:SUBJECT|*</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style type="text/css">

    </style>
</head>


<body>

    <div>
        <!-- <% for(let i = 0; i < testData.length; i++) { %>
        <div>
            <h2><%- testData[i].name %></h2>
        </div>
        <% } %> -->


        <div class="container">
            <div class="row">
              <div class="col">
                <div class="">
                  <label for="NomInput" class="form-label">Nom</label>
                  <input name="lastname" type="text" class="form-control" id="NomInput" value="<%- testData.lastname %>" >
                </div>
                <div>
                  <label for="PrenomInput" class="form-label">Prénom</label>
                  <input name="firstname" type="text" class="form-control" id="PrenomInput" value="<%- testData.firstname %>">
                </div>
              </div>
              <div class="col">
                <div class="form-check">
                  <input name="domain"
                         class="form-check-input"
                         type="checkbox"
                         value="Développeur back"
                         <%- (testData.domain!=null && testData.domain.indexOf("DevBack") > -1) ? 'checked':'' %>
                         id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                    Développeur back
                  </label>
                </div>

                <div class="form-check">
                  <input name="domain"
                         class="form-check-input"
                         type="checkbox"
                         value="Développeur front"
                         <%- (testData.domain!=null && testData.domain.indexOf("DevFront") > -1) ? 'checked':'' %>
                         id="flexCheckChecked">
                  <label class="form-check-label" for="flexCheckChecked">
                    Développeur front
                  </label>
                </div>
                <div class="form-check">
                  <input name="domain"
                         class="form-check-input"
                         type="checkbox"
                         value="DevOps"
                         <%- (testData.domain!=null && testData.domain.indexOf("DevOps") > -1) ? 'checked':'' %>
                         id="flexCheckChecked">
                  <label class="form-check-label" for="flexCheckChecked">
                    DevOps
                  </label>
                </div>
              </div>
            </div>

            <div class="row" style="margin-top:20px">
              <div class="form-floating">
                  <label>
                    Informations complémentaire:
                </label><br><br>
                <textarea class="form-control"
                          name="infos"
                          id="floatingTextarea2"
                          style="height: 100px">
                          <%- testData.infos %>
                </textarea>

              </div>
            </div><br>
            <div style="float:right;font-weight:bold;margin-right:20px;" >
                <label class="form-check-label">
                  Sigature:
                </label><br>
                <!--<%- testData.filePath %>-->
                <img  src="http://localhost:3000/<%- testData.filePath %>" width="120" >
                <!--<img src="https://www.jquery-az.com/html/images/banana.jpg" width="120" >-->
            </div>

          </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>


</html>
